body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin:0;
}
.header{
    background-color:#e4f9f5;
    width: 100%;
    line-height: normal;
    padding-top: 100px;
    padding-bottom: 10px;
    position: sticky;


    
}
.nav-buttons{
    
    display: flex;
    padding-left: 800px;
    padding-top: 25px;
    line-height: 0px;
}

li,a{
    position: relative;
    padding-right: 40px;
    padding-bottom: 50px;
    text-decoration: none;
    font-size: 20px;

}
.main-content{
    padding-top: 10px;
    background-color: #30e3ca;

}
.container{
    margin: 0;
}
.logo{
    width: 180px;
    height: 180px;
    position: absolute;
    left: 40px;
    top: 20px;
}
h1{
   text-color: red;
}